<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find Us</h4>
                            <span>227 Đ. Nguyễn Văn Cừ, Quận 5, Hồ Chí
                                Minh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call Us</h4>
                            <span>+84 9876543210</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Email Us</h4>
                            <span>support@CineSeats.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="/"><img
                                    src="/images/logo.png"
                                    class="img-fluid"
                                    alt="Ticket Booking Logo"></a>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow Us</span>
                            <a href="https://www.facebook.com"><i
                                    class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="https://x.com"><i
                                    class="fab fa-twitter twitter-bg"></i></a>
                            <a href="https://instagram.com/"><i
                                    class="fab fa-instagram instagram-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Book Tickets</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/login">User Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Stay updated with our latest events and
                                offers!
                                Subscribe to our newsletter below:</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email"
                                       placeholder="Enter your email address"
                                       required>
                                <button type="submit"><i
                                        class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
