<section>
    <!-- Main Content -->
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
        <!-- Showcase -->
        <header class="showcase">
            <a href="#" class="btn">
                Get Ticket Now <i class="fas fa-chevron-right"></i>
            </a>
        </header>

        <h1 class="showing-line">Now Showing</h1>
        <!-- Home cards 1 -->
        <section class="home-cards">
            <div>
                <img src="images/film1.png" alt>
                <h3>Ngày Xưa Có Một Chuyện Tình</h3>
                <a href="#">Book Now<i
                        class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="images/film2.png" alt/>
                <h3>Venom 3: Kèo Cuối</h3>
                <a href="#">Book Now<i
                        class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="images/film3.png" alt/>
                <h3>Cô Dâu Hào Môn</h3>
                <a href="#">Book Now <i
                        class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="images/film4.png" alt/>
                <h3>Thiên Đường Quả Báo</h3>
                <a href="#"> Book Now <i
                        class="fas fa-chevron-right"></i></a>
            </div>
        </section>

        <h1 class="showing-line">Upcoming</h1>
        <!-- Home cards 2 -->
        <section class="home-cards">
            <div>
                <img src="images/up1.png" alt/>
                <h3>Microsoft Teams</h3>
                <a href="#">Book Now <i
                        class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="images/up2.png" alt/>
                <h3>Unlock the power of learning</h3>
                <a href="#">Book Now <i
                        class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="images/up3.png" alt/>
                <h3>Windows 10 Enterprise</h3>
                <a href="#">Book Now <i
                        class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="images/up4.png" alt/>
                <h3>Explore Kubernetes</h3>
                <a href="#">Book Now <i
                        class="fas fa-chevron-right"></i></a>
            </div>
        </section>

    </div>
</section>